<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-spinner name="bubbles" color="primary" class="center" *ngIf="progressBar"></ion-spinner>
    <ion-card-header>
      <ion-card-subtitle>Add note</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form name="client" (ngSubmit)="addNote()" #formRegister="ngForm" novalidate>

        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input type="text" placeholder="Enter title" name="title" [(ngModel)]="note.title" #title="ngModel"
            required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Content</ion-label>
          <ion-textarea type="text" placeholder="Enter content" name="content" [(ngModel)]="note.content"
            #content="ngModel" required></ion-textarea>
        </ion-item>

        <br>
        <ion-button type="submit" color="success" fill="solid" size="large" expand="block"
          [disabled]="title.invalid || content.invalid">
          Save</ion-button>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
